<ActionBar title="Home"></ActionBar>

<GridLayout rows="auto,auto" style="background-color: black;color: white;">
    <GridLayout row="0" col="0" colSpan="2" rows="*" columns="*" style="margin-top: 40px;margin-bottom: 100px;" class="Stat-menu">
        <Label text="About Creator" row="2" class="text-menu"></Label>
    </GridLayout>
    <GridLayout rows="auto,auto,auto,auto" row="1" class="layout-git" (tap)="openLink()">
        <Image [src]="about_userdetail.avatar" row="0" col="0" colSpan="2" class="ops-logo" >
        </Image>
        <Image src="https://img.favpng.com/9/24/22/github-computer-icons-logo-png-favpng-N47TpAbDhpdesHinVrtW72THz.jpg"
            row="1" col="0" colSpan="2" style="width: 80px;height: 80px; border-radius: 50px;">
        </Image>
        <GridLayout row="2" rows="*,*" columns="*" style="margin-top: 20px;margin-bottom: 20px;" class="Stat-desc">
            <Label text="Github" row="0" col="0" class="text-title center"></Label>
            <Label [text]="about_userdetail.username" class="text-desc center" row="1" col="0"></Label>
        </GridLayout>
        <GridLayout row="3" rows="*,*" columns="*" style="margin-top: 20px;margin-bottom: 20px;" class="Stat-menu">
            <Label text="Bio" row="0" col="0" class="text-title center"></Label>
            <Label textWrap="true" [text]="about_userdetail.bio" class="text-desc center" row="1" col="0"></Label>
        </GridLayout>
    </GridLayout>
    <!-- <GridLayout row="3" rows="*" columns="*" style="margin-top: 5px;" class="Stat-nav" (tap)="onTap('operation')">
            <Label text="Operation News" row="0" class="text-title "></Label>
        <Label text="External Link about operation" row="0" class="text-subtitle "></Label>
    </GridLayout>
    <GridLayout row="4" rows="*" columns="*" style="margin-top: 5px;" class="Stat-nav" (tap)="onTap('news')">
        <Label text="Event News" row="0" class="text-title "></Label>
        <Label text="External Link about news" row="0" class="text-subtitle "></Label>
    </GridLayout>
    <GridLayout row="5" rows="*" columns="*" style="margin-top: 5px;" class="Stat-nav" (tap)="onTap('banner')">
        <Label text="Banner News" row="0" class="text-title "></Label>
        <Label text="External Link about banner" row="0" class="text-subtitle "></Label>
    </GridLayout>
    <GridLayout row="6" rows="*" columns="*" style="margin-top: 5px;" class="Stat-nav" (tap)="onTap('listops')">
        <Label text="Operator List" row="0" class="text-title "></Label>
        <Label text="Internal app about list operator" row="0" class="text-subtitle "></Label>
    </GridLayout>
    <GridLayout row="7" rows="*" columns="*" style="margin-top: 5px;" class="Stat-nav" (tap)="onTap('task')">
        <Label text="Task List" row="0" class="text-title "></Label>
        <Label text="Internal app about task" row="0" class="text-subtitle "></Label>
    </GridLayout> -->

</GridLayout>