/* @import '~@nativescript/theme/css/core.css'; */
FlexboxLayout {
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: url("~/assets/img/bg_1.png");
  }
  StackLayout {
    width: 300;
    padding: 10 16;
    background-color: black;
  }
  Image {
    margin-bottom: 20;
    width: auto;
    background-color: black;
    height: 70;
  }
  Button, TextField {
    margin-bottom: 10;
  }
  .btn-primary {
    background-color: rgb(116, 116, 116);
    margin-left: 0;
    margin-right: 0;
    width: 260;
    height: 90px;
  }
  .btn-secondary {
    background-color: rgb(194, 194, 194);
    margin-left: 0;
    margin-right: 0;
    width: 260;
    height: 90px;
  }
  .btn-google{
    background-color: white;
    width: 260;
    height: 90px;
  }
  TextField {
    placeholder-color: gray;
    color: white;
  }
  .dark {
    background-color: #000000;
  }
  .dark TextField {
     placeholder-color: rgb(255, 255, 255);
    color:  rgb(255, 255, 255);
  }