<RadSideDrawer >
    <GridLayout tkDrawerContent rows="70,70, *" class="sideStackLayout">
        <StackLayout row="0" class="sideTitleStackLayout">
            <Image src="~/assets/img/logoark.png"></Image>
        </StackLayout>
        <GridLayout row="1" columns="70px, *" class="add-bar" rows="30px,40px">
            <Image src="~/assets/img/user.png" col="0" row="0" rowSpan="2" class="img-style"></Image>
            <Label class="labelTitle" [text]="name" col="1" row="0"></Label>
            <Label class="labelDesc" [text]="email" col="1" row="1"></Label>
        </GridLayout>
        <ScrollView row="2">
            <StackLayout class="sideStackLayout">
                <GridLayout columns="*, 40px" class="sideLabelCon">
                    <Label [text]="used_lang.LABEL_HOME" class="sideLabel" col="0" (tap)="home_nav()"></Label>
                    <Image src="~/assets/img/ic_right.png" col="1" class="img-ic"></Image>
                </GridLayout>
                <GridLayout columns="*, 40px" class="sideLabelCon">
                    <Label [text]="used_lang.LABEL_OPSLIST" class="sideLabel" (tap)="list_nav()"></Label>
                    <Image src="~/assets/img/ic_right.png" col="1" class="img-ic"></Image>
                </GridLayout>
                <GridLayout columns="*, 40px" class="sideLabelCon">
                    <Label [text]="used_lang.LABEL_LISTTASK" class="sideLabel" (tap)="task_nav()"></Label>
                    <Image src="~/assets/img/ic_right.png" col="1" class="img-ic"></Image>
                </GridLayout>
                <GridLayout columns="*, 40px" class="sideLabelCon">
                    <Label [text]="used_lang.LABEL_ADDOPS" class="sideLabel" (tap)="form_nav()"></Label>
                    <Image src="~/assets/img/ic_right.png" col="1" class="img-ic"></Image>
                </GridLayout>
                <GridLayout columns="*, 40px" class="sideLabelCon">
                    <Label [text]="used_lang.LABEL_LOGOUT" class="sideLabel" (tap)="logout_nav()"></Label>
                    <Image src="~/assets/img/ic_right.png" col="1" class="img-ic"></Image>
                </GridLayout>
                <GridLayout columns="*, 40px" class="sideLabelCon">
                    <Label [text]="used_lang.LABEL_CHANGELANG" class="sideLabel" (tap)="lang_nav()"></Label>
                    <Image src="~/assets/img/ic_right.png" col="1" class="img-ic"></Image>
                </GridLayout>
                <GridLayout columns="*, 40px" class="sideLabelCon">
                    <Label [text]="used_lang.LABEL_ABOUT" class="sideLabel" (tap)="about_nav()"></Label>
                    <Image src="~/assets/img/ic_right.png" col="1" class="img-ic"></Image>
                </GridLayout>


            </StackLayout>
        </ScrollView>
    </GridLayout>
    <StackLayout tkMainContent>
        <page-router-outlet></page-router-outlet>
    </StackLayout>
</RadSideDrawer>