<ActionBar title="Operator List"></ActionBar>

<GridLayout rows="auto, *">

    <GridLayout row="0" columns="*, auto" class="add-bar" (tap)="add()">
        <!-- <TextField #operatorTextField [(ngModel)]="operator.name" hint="Enter operator name" col="0"></TextField> -->
        <Label class="labelTitle" text="Add operator"></Label>
        <Image src="~/assets/img/add.png" col="1"></Image>
    </GridLayout>

    <RadListView row="1" [items]="listOps" [class.visible]="listLoaded" swipeActions="true"
        (itemSwipeProgressStarted)="onSwipeCellStarted($event)">

        <ng-template let-item="item">
            <FlexboxLayout class="subContainer">
                <FlexboxLayout class="iconContainer">
                    <Image [src]="'~/assets/img/'+item.class+'.png'"></Image>
                </FlexboxLayout>
                <Label [text]="(item.class==0?'Sniper':item.class==1?'Caster':'Healer')+' - '+item.name" class="p-15 labelClass"></Label>
            </FlexboxLayout>
        </ng-template>
        <GridLayout *tkListItemSwipeTemplate columns="*, auto">
            <StackLayout id="delete-view" col="1" (tap)="delete($event)" class="delete-view">
                <Image src="~/assets/img/bin.png"></Image>
            </StackLayout>
        </GridLayout>

    </RadListView>
    <ActivityIndicator [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'" row="1"
        horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
</GridLayout>