<ActionBar [title]="used_lang.LABEL_TITLE"></ActionBar>

<GridLayout rows="150px,auto,40px,auto,auto,auto,auto,auto" style="background-color: black;color: white;">
    <Image [src]="'~/assets/img/logo_rhine.png'" row="0" col="0" colSpan="2" class="ops-logo">
    </Image>
    <GridLayout row="1" rows="*,*" columns="*" style="margin-top: 5px;margin-bottom: 20px;" class="Stat-desc">
        <Label [text]="used_lang.LABEL_WELCOME" row="0" col="0" class="text-title center"></Label>
        <Label [text]="'Dr.'+user_name" class="text-desc center" row="1" col="0"></Label>
    </GridLayout>
    <GridLayout row="2" rows="*" columns="*" style="margin-top: 5px;" class="Stat-menu">
        <Label text="Menu" row="2" class="text-menu"></Label>
    </GridLayout>
    <GridLayout row="3" rows="*" columns="*" style="margin-top: 5px;" class="Stat-nav" (tap)="onTap('operation')">
        <Label [text]="used_lang.LABEL_OPSNEWS" row="0" class="text-title "></Label>
        <Label [text]="used_lang.LABEL_SUB_OPSNEWS" row="0" class="text-subtitle "></Label>
    </GridLayout>
    <GridLayout row="4" rows="*" columns="*" style="margin-top: 5px;" class="Stat-nav" (tap)="onTap('news')">
        <Label [text]="used_lang.LABEL_EVENT" row="0" class="text-title "></Label>
        <Label [text]="used_lang.LABEL_SUB_EVENT" row="0" class="text-subtitle "></Label>
    </GridLayout>
    <GridLayout row="5" rows="*" columns="*" style="margin-top: 5px;" class="Stat-nav" (tap)="onTap('banner')">
        <Label [text]="used_lang.LABEL_BANNER" row="0" class="text-title "></Label>
        <Label [text]="used_lang.LABEL_SUB_BANNER" row="0" class="text-subtitle "></Label>
    </GridLayout>
    <GridLayout row="6" rows="*" columns="*" style="margin-top: 5px;" class="Stat-nav" (tap)="onTap('listops')">
        <Label [text]="used_lang.LABEL_OPSLIST" row="0" class="text-title "></Label>
        <Label [text]="used_lang.LABEL_SUB_OPSLIST" row="0" class="text-subtitle "></Label>
    </GridLayout>
    <GridLayout row="7" rows="*" columns="*" style="margin-top: 5px;" class="Stat-nav" (tap)="onTap('task')">
        <Label [text]="used_lang.LABEL_TASKLIST" row="0" class="text-title "></Label>
        <Label [text]="used_lang.LABEL_SUB_TASKLIST" row="0" class="text-subtitle "></Label>
    </GridLayout>

</GridLayout>